@import 'tailwindcss';

@theme {
	--color-dark: '#0A0A0A';
	--color-dark-2: '#0F0F0F';
	--color-brand: '#FF8000';
	--color-brand-2: '#D64A04';
	--color-light: '#F0F0FF';
	--color-light-2: '#999';
	--color-gradient-1: '#fb8556';
	--color-gradient-2: '#932c00';
}

body {
	@apply bg-dark;
}
