---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'
---

<Layout title="About" description="This is the about page" >
  <div class="px-page py-8">
    <h1>About</h1>
  </div>
  <Navigation />
</Layout>
