---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import avatarColor from '../assets/avatar-color.png'
---

<Layout title="About" description="This is the about page" >
  <div class="px-page py-8 flex-grow grid grid-cols-12 gap-8 items-center pb-24">
    <div class="flex flex-col gap-2 col-span-7">
      <div class="text-brand-1 text-xl flex items-center gap-2 mb-4">
        <span>I'm a proudly</span> <Icon name="arrow-down" class="size-4" />
      </div>
      <h2 class="text-6xl font-display font-semibold mb-2">Self <span class="text-brand-1">Taught</span> Front End Developer</h2>
      <p class="opacity-50 font-light text-xl leading-relaxed">I have a background in Graphic Design and Marketing where, after a couple of years I discovered my love for creating unique interfaces that are compelling and solve problems for real people. I like to combine design, animation and development to unleash the full potential of the web.</p>
    </div>
    <div class="col-span-5 rounded-xl overflow-clip">
      <Image src={avatarColor} alt="Avatar" class="" />
    </div>
  </div>
  <Navigation />
</Layout>
