---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'
---

<Layout title="Home" description="This is the home page">
  <div class="px-page py-8">
    <h1>Contact</h1>
  </div>
  <Navigation />
</Layout>
