---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets';
---

<Layout title="Contact" description="Get in touch with me to inquiry about a project or full time work opportunity">
  <div class="px-page py-8 flex-grow grid grid-cols-12 gap-8 items-center pb-24">
    <div class="flex flex-col gap-2 col-span-7">
      <div class="text-brand-1 text-xl flex items-center gap-2 mb-4">
        <span>Reach out</span> <Icon name="arrow-down" class="size-4" />
      </div>
      <h2 class="text-6xl font-display font-semibold">Fill out the <span class="text-brand-1">Form</span></h2>
      <p class="opacity-50 font-light text-lg leading-relaxed max-w-prose">Or get in touch with me via any of the links below.</p>
    </div>
    <div class="col-span-5 rounded-xl overflow-clip group shadow-md hover:shadow-lg">
    </div>
  </div>
  <Navigation />
</Layout>
