---
// Component imports
import Layout from '../layouts/Layout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import { Image } from 'astro:assets'

// Content Collection Imports
import { getCollection } from 'astro:content'
const projects = await getCollection('projects')
console.log(projects)

// Asset imports
import me from '../assets/me.png'
---

<Layout
	title="Erick Mireles | Front End Developer"
	description="I'm a front end developer who strives to make digital experiences that resonate with people in the right ways."
>
	<main class="relative p-page pt-16">
		<Image
			src={me}
			alt="A picturr of me"
			aaria-hidden="true"
			class="absolute left-0 top-0 z-10 w-full translate-y-[-35%] object-cover opacity-15 blur-[100px]"
		/>
		<div
			class="relative z-20 flex items-center gap-8 border-b border-dashed border-light border-opacity-15 pb-16"
		>
			<Image src={me} alt="Erick Mireles" class="size-60 flex-shrink-0 rounded-sm object-cover" />
			<div class="flex flex-col items-start gap-2">
				<div
					class="mb-4 flex items-center gap-2 rounded-full border border-brand bg-brand bg-opacity-10 py-1 pl-3 pr-4 text-xs text-brand"
				>
					<div
						class="flex animate-pulse items-center justify-center rounded-full bg-brand bg-opacity-50 p-[2px]"
					>
						<div class="size-1 rounded-full bg-brand"></div>
					</div>
					<span>Available for work</span>
				</div>
				<h1 class="text-6xl font-medium">Erick Mireles</h1>
				<p class="text-balance font-light leading-relaxed text-light-2">
					Hello There! I'm Erick, a 24 y/o developer who's been refining his skills for the past 3
					years. I enjoy building cool web applications that serve a purpose by leveraging my UX
					design, animation and problem solving skills.
				</p>
			</div>
		</div>
		<ul class="grid grid-cols-3 gap-8 pb-2 pt-16">
			{projects.map((project) => <ProjectCard {...project as Object} />)}
		</ul>
	</main>
</Layout>
