---
//Component imports
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
//Asset imports
import avatar from '../images/avatar.png';
import SideProject from '../components/SideProject.astro';
//Side project images
import partyGameCompanion from '../images/sp-party.png';
import jammming from '../images/sp-jammming.png';
import redditClient from '../images/sp-reddit.png';
---

<Layout title="Erick Mireles" description="I'm a self taught front-end developer, combining design, animation and the power of the web to create stunning websites.">
	<main class=" w-full overflow-x-clip">
		<header class="h-screen flex flex-col">
			<!-- Same height as navbar for spacing -->
			<div id="nav-spacer"/>
			<!-- Contains all the header content -->
			<div class="header-wrapper">
				<!-- Contains all the information -->
				<div class="header-holder">
					<div class="header-comp-wrapper">
						<!-- Main info component -->
						<div>
							<div class="fed-tag-wrapper">
								<div class=" px-4 py-2 text-brand-1 outlined-holder">
									&lt;Front End Developer /&gt;
								</div>
							</div>
							<div class="header-element dashed">
								<div class="header-comp outlined-holder">	
									<h1>Building <span class="title-color">creative</span> digital experiences</h1>
									<p>Combining design, animation and the power of the web to create stunning websites.</p>
								</div>
							</div>
						</div>
						<!-- Navigation Button -->
							<div class="dashed header-element">
								<Button text='See Work' href='/' icon='arrow-down'>
							</div>
					</div>
					<div class="avatar-holder">
						<Image src={avatar} alt="Erick Mireles" class="w-full h-full" />
					</div>
				</div>
				<!-- Header outline and bg -->
					<div class="header-outline" />
			</div>
		</header>
		<!-- About section -->
		<section>
			<div class="grid-container">
				<div class=" col-start-3 col-span-8 grid grid-cols-8 gap-8">
					<div class="flex flex-col gap-8">
						<Icon name='after-effects' class=' w-full h-full' />
						<Icon name='premiere-pro' class=' w-full h-full' />
					</div>
					<div class="flex flex-col items-center justify-center text-center col-start-2 col-span-6 outlined-holder dashed">
						<h2>Self Taught. <span class="title-color">Proudly.</span></h2>
						<p>I have a passion for design and photography. One day I realized that by making websites I could combine my skills and passions to create unique and compelling digital experiences.</p>
					</div>
					<div class="flex flex-col gap-8">
						<Icon name='photoshop' class=' w-full h-full' />
						<Icon name='illustrator' class=' w-full h-full' />
					</div>
					<div class="flex gap-8 col-span-2">
						<Icon name='figma' class=' w-full h-full' />
						<Icon name='webflow' class=' w-full h-full' />
					</div>
					<div class="flex gap-8 col-span-6 dashed">
						<Icon name='tailwind' class=' w-full h-full' />
						<Icon name='astro' class=' w-full h-full' />
						<Icon name='react' class=' w-full h-full' />
						<Icon name='javascript' class=' w-full h-full' />
						<Icon name='typescript' class=' w-full h-full' />
						<Icon name='git' class=' w-full h-full' />
					</div>
				</div>
			</div>
		</section>
		<!-- Side Projects Section -->
		<section>
			<div class="grid-container">
				<div class="flex flex-col gap-8 col-span-8 col-start-3">
					<div class="outlined-holder dashed flex gap-4 items-center">
						<h2 class=" flex-shrink-0">Side <span class="title-color">Projects</span></h2>
						<p>These are some projects I’ve recently been working on to better hone my design and development skills.</p>
					</div>
					<ul>
						<SideProject image={partyGameCompanion} title='Party Game Companion' description='This app is designed to aid the tedious task of keeping score and provide a fun way to keep the party games going by providing a leaderboard.' href='/' />
						<SideProject image={jammming} title='Jammming' description='This app uses the Spotify API to let the user authenticate, search by song, artist or album; and create a playlist to add to their account.' href='/' />
						<SideProject image={redditClient} title='Reddit Client' description='This is an upcoming project that uses the Reddit API.' href='/' />
					</ul>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	#nav-spacer {
		height: var(--nav-height);
	}
	.header-element {
		padding: 0 calc(var(--page-padding) * 2);
		display: flex;	
	}
	.header-wrapper {
		position: relative;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding-bottom: var(--page-padding);
	}
	.header-container {
		border: 1px solid hsla(var(--light-1), 1);
		flex-grow: 1;
	}
	.header-outline {
		border: 1px solid hsla(var(--light-1), 1);
		position: absolute;
		top: 0;
		left: var(--page-padding);
		right: var(--page-padding);
		bottom: var(--page-padding);
	}
	.header-outline::before, .header-outline::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.header-outline::before {
		background-image: url('/images/header-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		mix-blend-mode: color-dodge;
		z-index: 1;
	}
	.header-outline::after {
		background-image: url('/images/header-bg-grain.png');
		background-repeat: no-repeat;
		background-size: cover;
		mix-blend-mode: multiply;
		z-index: 2;
	}
	.header-comp-wrapper {
		display: flex;
		flex-direction: column;
		gap: 15rem;
		padding-bottom: var(--page-padding);
	}
	.header-comp {
		display: flex;
		flex-direction: column;
		max-width: 45%;
		padding: 1rem;
	}
	.header-comp p {
		font-size: 1.25rem;
	}
	.header-holder {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 3;
	}
	.fed-tag-wrapper {
		padding-left: calc(var(--page-padding) * 2);
		display: flex;

	}
	.avatar-holder {
		position: absolute;
		bottom: 0;
		right: 0;
		padding-right: calc(var(--page-padding) + 1px);
		padding-bottom: 1px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		max-width: 50%;
	}
	section {
		padding: 8rem 0;
	}
	.grid-container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 2rem;
		padding: 0 var(--page-padding);
	}
</style>
