---
import Layout from '../layouts/Layout.astro'
import ProjectWrapper from '../components/ProjectWrapper.astro'
import ProjectCard from '../components/ProjectCard.astro'

import { db, Projects, ProjectType } from 'astro:db'
const projects = await db.select().from(Projects)
const projectTypes = await db.select().from(ProjectType)
---

<Layout
	title="Erick Mireles | Front End Developer"
	description="I'm a front end developer who strives to make digital experiences that resonate with people in the right ways."
>
	<main class="p-page pt-16">
		<div
			class="flex items-center gap-8 border-b border-dashed border-light border-opacity-15 pb-16"
		>
			<div class="size-60 flex-shrink-0 rounded-sm bg-light opacity-25"></div>
			<div class="flex flex-col items-start gap-2">
				<span
					class="mb-4 rounded-full border border-brand bg-brand bg-opacity-10 px-4 py-1 text-xs text-brand"
					>Front End Developer / UX Designer</span
				>
				<h1 class="text-6xl font-medium">Erick Mireles</h1>
				<p class="text-balance font-light leading-relaxed text-light-2">
					Hello There! I'm Erick, a 24 y/o developer who's been refining his skills for the past 3
					years. I enjoy building cool web applications that serve a purpose by leveraging my UX
					design, animation and problem solving skills.
				</p>
			</div>
		</div>
		<ul class="grid grid-cols-3 gap-8 pt-16">
			{
				projects.map((project) => (
					<ProjectWrapper>
						<ProjectCard
							title={project.name}
							description={project.description}
							projectType={projectTypes.filter((type) => type.id === project.projectTypeId)[0].name}
						/>
					</ProjectWrapper>
				))
			}
		</ul>
	</main>
</Layout>
