---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import bg1 from '../assets/bg1.png'
---

<Layout
	title="Erick Mireles | Portfolio"
	description="Front End Developer with a background in Design, combining graphic design, animation and development to unleash the full potential of the web.">
	<main class="p-page">
		<h2 class="mt-24 max-w-[15ch] font-display text-8xl font-medium">
			Building <span class="text-brand-1">creative</span> digital experiences.
		</h2>
	</main>
	<Image
		class={'opacity-50 fixed inset-0 -z-50 object-cover w-full h-full'}
		src={bg1}
		alt={'A grainy texture with a hint of color.'}
	/>
</Layout>
