---
//Component imports
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
//Asset imports
import avatar from '../images/avatar.png';
---

<Layout title="Erick Mireles" description="I'm a self taught front-end developer, combining design, animation and the porwe of the web to create stunning websites.">
	<main>
		<header>
			<!-- Same height as navbar for spacing -->
			<div id="nav-spacer"/>
			<!-- Contains all the header content -->
			<div class="header-wrapper">
				<!-- Contains all the information -->
				<div class="header-holder">
					<div class="header-comp-wrapper">
						<!-- Main info component -->
						<div>
							<div class="fed-tag-wrapper">
								<div class="fed-tag outlined-holder">
									&lt;Front End Developer /&gt;
								</div>
							</div>
							<div class="header-element dashed-holder">
								<div class="header-comp outlined-holder">	
									<h1>Building <span class="title-color">creative</span> digital experiences</h1>
									<p>Combining design, animation and the power of the web to create stunning websites.</p>
								</div>
							</div>
						</div>
						<!-- Navigation Button -->
							<div class="dashed-holder header-element">
								<Button text='See Work' href='/' icon='arrow-down'>
							</div>
					</div>
					<div class="avatar-holder">
						<Image src={avatar} alt="Erick Mireles" class="avatar" />
					</div>
				</div>
				<!-- Header outline and bg -->
					<div class="header-outline" />
			</div>
		</header>
	</main>
</Layout>

<style>
	span.title-color {
		color: hsla(var(--brand-1), 1);
	}
	main {
		width: 100%;
	}
	#nav-spacer {
		height: var(--nav-height);
	}
	header {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
	.header-element {
		padding: 0 calc(var(--page-padding) * 2);	
	}
	.header-wrapper {
		position: relative;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding-bottom: var(--page-padding);
	}
	.header-container {
		border: 1px solid hsla(var(--light-1), 1);
		flex-grow: 1;
	}
	.header-outline {
		border: 1px solid hsla(var(--light-1), 1);
		position: absolute;
		top: 0;
		left: var(--page-padding);
		right: var(--page-padding);
		bottom: var(--page-padding);
	}
	.header-outline::before, .header-outline::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.header-outline::before {
		background-image: url('/images/header-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		mix-blend-mode: color-dodge;
		z-index: 1;
	}
	.header-outline::after {
		background-image: url('/images/header-bg-grain.png');
		background-repeat: no-repeat;
		background-size: cover;
		mix-blend-mode: multiply;
		z-index: 2;
	}
	.header-comp-wrapper {
		display: flex;
		flex-direction: column;
		gap: 15rem;
		padding-bottom: var(--page-padding);
	}
	.header-comp {
		display: flex;
		flex-direction: column;
		max-width: 45%;
		padding: 1rem;
	}
	.header-holder {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 3;
	}
	.fed-tag-wrapper {
		padding-left: calc(var(--page-padding) * 2);
		display: flex;

	}
	.fed-tag {
		padding: 0.5rem 1rem;
		color: hsla(var(--brand-1), 1);
	}
	.avatar-holder {
		position: absolute;
		bottom: 0;
		right: 0;
		padding-right: calc(var(--page-padding) + 1px);
		padding-bottom: 1px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		max-width: 50%;
	}
	.avatar {
		width: 100%;
		height: 100%;
	}
</style>
