---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="Erick Mireles | Portfolio"
	description="Front End Developer with a background in Design, combining graphic design, animation and development to unleash the full potential of the web."
>
	<main class="p-8">
		<h2 class="font-display text-7xl font-medium">
			Building <span class="text-brand-1">creative</span> digital experiences.
		</h2>
	</main>
</Layout>
