---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import CardLink from '../components/CardLink.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import avatar from '../assets/avatar.png'
import codeForm from '../assets/code-form.png'
---

<Layout title="Home" description="This is the home page">
  <div class="px-page py-8 flex-grow flex w-full">
    <div class="grid grid-cols-2 grid-rows-2 flex-grow gap-8">
      <Card>
        <div class="flex">
          <div class="p-4 flex flex-col items-start">
            <div class="text-brand-1 flex items-center gap-2 mb-12">
              <span>Front end developer</span> <Icon name="arrow-down" class="size-4" />
            </div>
            <h2 class="text-4xl font-display max-w-[60%] font-medium mb-2">Building <span class="text-brand-1">Creative</span> digital experiences</h2>
            <p class="opacity-50 font-light text-xs leading-relaxed max-w-[40ch]">
              Front End Developer with a background in Design. I build creative interfaces by combining design, animation and the power of the web.
            </p>
            <CardLink href="/about" icon="user" >More About Me</CardLink>
          </div>
          <Image src={avatar} alt="Hero image" class="w-1/2 h-full absolute bottom-0 right-0 object-cover" />
        </div>
      </Card>
      <Card classes="row-span-2">
        <div class="p-4">
          <CardLink href="/projects" icon="portfolio" >View All Projects</CardLink>
        </div>
      </Card>
      <Card>
        <div class="flex">
          <div class="p-4 flex flex-col items-start">
            <div class="text-brand-1 flex items-center gap-2 mb-12">
              <span>Get in Touch</span> <Icon name="arrow-down" class="size-4" />
            </div>
            <h2 class="text-4xl font-display font-medium">Available for <span class="text-brand-1">Work</span></h2>
            <p class="opacity-50 font-light text-xs leading-relaxed max-w-[40ch]">Currently looking for a full-time job opportunity as a Front End Developer.</p>
            <CardLink href="/contact" icon="form" >Fill Contact Form</CardLink>
            <Image src={codeForm} alt="Program Window showing a React Contact form" class="w-1/2 absolute bottom-0 -right-4 object-cover" />
          </div>
        </div>
      </Card>
    </div>
  </div>
</Layout>
