---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="Erick Mireles | Front End Developer"
	description="I'm a front end developer who strives to make digital experiences that resonate with people in the right ways."
>
	<main class="p-page pt-16">
		<h1>Erick Mireles</h1>
	</main>
</Layout>
