---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Erick Mireles | Portfolio">
	<main>
		<section>
			<div class="container">
				<h1>Welcome to my portfolio</h1>
				<p>
					This page will become my personal portfolio where I will showcase my work and projects. I'm currently working on it, so please come back later.
				</p>
			</div>
		</section>
		<section>
			<div class="container">
				<h2>Projects</h2>
				<p>
					Here are some of the projects I've worked on.
				</p>
			</div>
		</section>
	</main>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: unset;
	}
	.container {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
</style>
