---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'
---

<Layout title="Projects" description="This is the projects page">
  <div class="px-page py-8">
    <h1>Projects</h1>
  </div>
  <Navigation />
</Layout>
