---
import Layout from '../layouts/Layout.astro'
import Button from '../components/Button.astro'
import { Icon } from 'astro-icon/components'
---

<Layout
	title="Submission Completed"
	description="Thank you for your submission! I will get back to you as soon as possible."
>
	<div class="flex w-full flex-grow px-page py-8">
		<div class="flex flex-grow flex-col items-center justify-center gap-2 pb-16">
			<Icon name="form" class="size-16 text-brand-1" />
			<div class="flex flex-col items-center text-center mb-8">
				<h1 class="text-6xl font-display font-semibold mb-2">Submission <span class="text-brand-1">Completed</span></h1>
				<p>Thank you for your submission! I will get back to you as soon as possible.</p>
			</div>
			<Button href="/">Back to Home</Button>
		</div>
	</div>
</Layout>
