---
import { Icon } from 'astro-icon/components'

interface Props {
    text: string;
    href: string;
    icon?: string;
}

const { text, href, icon } = Astro.props;
---
<a href={href} class="flex gap-2 items-center px-4 py-2 hover:px-6 hover:py-3 bg-brand-1 bg-opacity-15 text-brand-1 transition-all border border-brand-1 hover:bg-opacity-25 duration-300">
    <span>{text}</span>
    {icon && <Icon name={icon} />}
</a>