---
const { classes } = Astro.props;
---

<div class={`border border-light-1 border-opacity-25 rounded-xl flex relative overflow-clip bg-dark-2 shadow-lg hover:shadow-highlight hover:bg-dark-3 transition-all duration-300 group ${classes}`}>
    <slot />
</div>
