---

---

<footer>
    <div class="container">
        <div class="comp-wrapper">
					<div class="comp-tag">
						&lt;Contact Info /&gt;
					</div>
					<div class="comp-holder">
						<div class="comp-element">
							<h1>Get In Touch</h1>
						</div>
						<div class="comp-element"><p>I’m available for freelance work and currently looking for full time job opportunities.</p></div>
					</div>
				</div>
    </div>
</footer>
<style>
	footer {
		background-color: hsl(var(--brand-2));
	}
	.container {
		padding-top: 2rem;
		padding-bottom: 2rem;
		border-color: hsl(var(--dark-1));
	}
    .comp-wrapper,
	.comp-tag,
	.comp-holder,
	.comp-element {
		border-color: hsl(var(--dark-1));
	}
	.comp-tag {
		background-color: hsla(var(--dark-1), 0.25);
	}
	.comp-holder {
		background-color: hsla(var(--dark-1), 0.1);
	}
</style>