---
import { Image } from "astro:assets"
import Button from "./Button.astro"
import { Icon } from 'astro-icon/components'
import profilePic from "../images/profile-pic.png"
---
<footer class="bg-black pt-20 pb-24 flex flex-col gap-8 page-padding overflow-clip">
    <div class="flex justify-between dashed">
        <div class="outlined-holder max-w-prose flex-col flex gap-2">
            <div class="flex items-center gap-4">
                <div class="relative w-14 h-14">
                    <div id="profile-pic-status" class=" absolute top-0 right-0 w-3 h-3 bg-brand-1 rounded-full" />
                    <Image src={profilePic} alt="Avatar" class="w-full- h-full object-cover rounded-full"/>
                </div>
                <h2>Let's <span class="title-color">Talk</span></h2>
            </div>
            <p>I’m currently looking for a full or part time position as a front end developer, but still open to undertake any freelance endeavor in the meantime.</p>
        </div>
        <div class="flex flex-col gap-6 justify-center outlined-holder">
            <h5>Ways to contact me</h5>
            <ul class="flex flex-col gap-2">
                <li><a class="flex items-center gap-2 opacity-80 hover:opacity-100 transition-all" href="/" ><Icon name={'linkedIn'} />Erick Mireles Rosas</a></li>
                <li><a class="flex items-center gap-2 opacity-80 hover:opacity-100 transition-all" href="/" ><Icon name={'github'} />emireles.rosas@skiff.com</a></li>
                <li><a class="flex items-center gap-2 opacity-80 hover:opacity-100 transition-all" href="/" ><Icon name={'mail'} />https://github.com/emrosas</a></li>
            </ul>
        </div>
    </div>
    <div class="flex justify-between dashed">
        <Button href="/#hero" text="Back to top" icon="arrow-up" />
        <div class="outlined-holder">
            <p class="text-center font-medium text-light-1 opacity-100">Designed & Developed with ❤️️ by Erick Mireles</p>
        </div>
    </div>
</footer>
