---
import { Image } from "astro:assets";

import me from '../images/icons/personal-icon.png'

---

<footer>
    <div id="footer-comp">
        <h3 class="fs2">
            <Image src={me} alt={'An icon with my face and a purple background'} class={'icon'}/>
            Let's talk! I'm available for Freelance work, or any full time position proposal you may have.
        </h3>
        <div class="footer-button-holder">
            <a href="/contact" id="contact-button">Get in Touch</a>
        </div>
    </div>
</footer>

<style>
    footer {
        padding-left: var(--pp1);
        padding-right: var(--pp1);
        padding-top: var(--su4);
        padding-bottom: var(--su2);
    }

    .icon {
        width: 4.5rem;
        height: 4.5rem;
    }

    #footer-comp {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    h3 {
        grid-column: span 8;
    }

    #contact-button {
        background-color: var(--dark-1);
    }

    .footer-buttons-holder {
        grid-column: span 4;
    }
</style>