---
import { Image } from "astro:assets"
import Button from "./Button.astro"
import { Icon } from 'astro-icon/components'
import profilePic from "../images/profile-pic.png"
---
<footer>
    <div class="wrapper dashed">
        <div class="outlined-holder main-comp">
            <div class="title-holder">
                <div class="profile-pic-holder">
                    <Image src={profilePic} alt="Profile Picture" class="profile-pic"/>
                </div>
                <h2>Let's <span class="title-color">Talk</span></h2>
            </div>
            <p>I’m currently looking for a full or part time position as a front end developer, but still open to undertake any freelance endeavor in the meantime.</p>
        </div>
        <div>
            <h4>Ways to contact me</h4>
            <ul>
                <li><Icon name={'arrow-up'} /></li>
                <li><Icon name={'arrow-up'} /></li>
                <li><Icon name={'arrow-up'} /></li>
            </ul>
        </div>
    </div>
    <div class="wrapper dashed">
        <Button href="/" text="Back to top" icon="arrow-up" />
        <div class="outlined-holder">
            <p id="developed-by">Designed & Developed with ❤️️ by Erick Mireles</p>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: #000;
        padding: 5rem var(--page-padding) 8rem var(--page-padding);
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .main-comp {
        max-width: 60ch;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .title-holder {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .profile-pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    .profile-pic-holder {
        position: relative;
        width: 3.5rem;
        height: 3.5rem;
    }
    .profile-pic-holder::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1rem;
        height: 1rem;
        background-color: #FFF733;
        border-radius: 50%;
        z-index: 1;
    }
    #developed-by {
        text-align: center;
        font-family: var(--display-font);
        font-weight: 500;
        color: hsla(var(--light-1), 1);
    }
</style>