---
import Button from './Button.astro'
import { Icon } from 'astro-icon/components'
---

<script>
import { hideNav } from "../lib/hideNav"

	document.addEventListener('astro:page-load', () => {
    const headerLinks = document.querySelector('div')
		if (window.location.pathname === '/contact') {
      hideNav(headerLinks)
		}
	})
</script>

<header class="flex items-center justify-between px-page py-4" id="topNav">
	<a href="/" class="flex flex-col items-start gap-1 hover:scale-105 transition-all duration-500 ease-out origin-top-left group">
    <Icon name="emrosas" class="h-8 w-44" />
		<h1 class="font-regular text-xs opacity-80 group-hover:opacity-100 transition-all duration-200">Erick Mireles Rosas</h1>
	</a>
	<div class="flex items-center gap-6" id="header-links">
		<ul class="flex items-center gap-4">
			<li>
				<a
					href="https://www.linkedin.com/in/emrosas/"
					target="_blank"
					class="flex items-center gap-2 opacity-80 transition-all duration-200 hover:-translate-y-[2px] hover:opacity-100"
					><Icon name="linkedIn" class="size-6" />Erick Mireles</a
				>
			</li>
			<li>
				<a
					href="https://github.com/emrosas"
					target="_blank"
					class="flex items-center gap-2 opacity-80 transition-all duration-200 hover:-translate-y-[2px] hover:opacity-100"
					><Icon name="github" class="size-6" />emrosas</a
				>
			</li>
		</ul>
		<Button href="/contact">Get in Touch</Button>
	</div>
</header>
