---
import { Icon } from 'astro-icon/components'

interface Props {
	text: string
	href: string
	icon?: string
	newWindow?: boolean
	mode?: 'primary' | 'secondary'
}

const { text, href, icon, newWindow = false, mode = 'primary' } = Astro.props
---

<li
	class=`${mode === 'primary' ? 'border-light-1 border-opacity-15 bg-light-1 bg-opacity-5 hover:bg-opacity-25' :'border-brand-1'} relative flex items-center overflow-clip rounded-lg border transition duration-300 ease-out hover:-translate-y-[0.15rem]`
>
	<a href={href} target={newWindow ? '_blank' : '_self'} class="back px-4 py-2">
		<span>{text}</span>
		{icon && <Icon name={icon} />}
	</a>
	<div
		class=`${mode === 'primary' ? 'hidden' :'from-brand-2 to-brand-1'} link-bg absolute left-0 top-0 -z-10 h-full w-[200%] bg-gradient-to-br transition-all duration-300`
	>
	</div>
</li>

<style>
	li:hover > .link-bg {
		transform: translateX(-50%);
	}
</style>
