---
type Props = {
	mobileBg?: boolean
}

const { mobileBg = false } = Astro.props
---

<div
	class={`${
		mobileBg
			? 'border border-light/5 bg-dark-2 px-6 py-8 shrink'
			: 'md:border md:border-light/5 md:bg-dark-2'
	} pointer-events-auto relative rounded-md transition duration-150 ease-out hover:border-opacity-10 md:px-6 md:py-8`}
>
	<slot />
</div>
