---
type Props = {
	mobileBg?: boolean
}

const { mobileBg = false } = Astro.props
---

<div
	class=`${mobileBg ? 'border border-light border-opacity-5 bg-dark-2 px-2 py-4' : 'sm:border sm:border-light sm:border-opacity-5 sm:bg-dark-2'} pointer-events-auto relative flex-grow rounded-md transition duration-150 ease-out hover:border-opacity-10 sm:px-6 sm:py-8`
>
	<slot />
</div>
