---

---

<nav class="p-page flex items-center justify-between">
	<a href="/">
		<h1 class="font-display text-2xl font-medium">
			<span class="text-brand-1">Erick Mireles</span> &gt; Front End Developer
		</h1>
	</a>
	<menu class="flex items-center gap-4">
		<li>
			<a
				href="/"
				class="rounded-lg border border-light-1 border-opacity-15 bg-light-1 bg-opacity-10 px-4 py-2 backdrop-blur-sm transition duration-300 ease-out hover:bg-opacity-25"
				>About</a
			>
		</li>
		<li>
			<a
				href="/"
				class="rounded-lg border border-light-1 border-opacity-15 bg-light-1 bg-opacity-0 px-4 py-2 backdrop-blur-sm transition duration-300 ease-out hover:bg-opacity-25"
				>Projects</a
			>
		</li>
	</menu>
</nav>
