---
import Link from './Link.astro'
---

<nav class="flex items-center justify-between p-page">
	<a href="/">
		<h1 class="font-display text-2xl font-medium">
			<span class="text-brand-1">Erick Mireles</span> &gt; Front End Developer
		</h1>
	</a>
	<menu class="flex items-center gap-4">
		<Link text="About" href="/" />
		<Link text="Projects" href="/" />
		<Link text="Get in Touch" href="/" mode="secondary" />
	</menu>
</nav>
