---
import Link from './Link.astro'
---

<nav class="flex items-center justify-between p-page">
	<a href="/">
		<h1
			class="flex items-center gap-2 font-display text-2xl font-medium transition-all duration-300 ease-in-out hover:gap-4">
			<span class="text-brand-1">Erick Mireles</span>
			<span>&gt;</span>
			<span> Front End Developer </span>
		</h1>
	</a>
	<menu class="flex items-center gap-4">
		<Link text="About" href="/" />
		<Link text="Projects" href="/projects" />
		<Link text="Get in Touch" href="/" mode="secondary" />
	</menu>
</nav>
