---
---

<script>
  document.addEventListener('astro:page-load', () => {
    const navLinks = document.querySelectorAll('nav a')
    navLinks.forEach((link) => {
      if ((link as HTMLAnchorElement)?.href === window.location.href) {
        link.classList.add('bg-light-1', 'bg-opacity-10', 'border-light-1', 'border-opacity-15')
      }
    })
  })
</script>

<nav class="fixed bottom-8 left-1/2 -translate-x-1/2 flex rounded-lg border border-light-1 border-opacity-25 bg-light-1 bg-opacity-[2%] backdrop-blur">
		<a class="px-4 py-3 rounded-lg" href="/">Home</a></li>
		<a class="px-4 py-3 rounded-lg" href="/about">About</a></li>
<!--		<a class="px-4 py-3 rounded-lg" href="/projects">Projects</a></li> -->
		<a class="px-4 py-3 rounded-lg" href="/contact">Contact</a></li>
</nav>
