---

---

<nav>
    <div id="nav-container">
        <h1>Erick <br>
            Mireles
        </h1>
        <ul>
            <li>Photography</li>
            <li>Web Design</li>
            <li>Content Design</li>
            <li>Contact</li>
        </ul>
    </div>
</nav>

<style>
    nav {
        padding-left: var(--pp1);
        padding-right: var(--pp1);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    ul {
        list-style-type: none;
        display: flex;
        gap: 5rem;
    }
    #nav-container {
        display: flex;
        justify-content: space-between;
    }

    @media only screen and (max-width: 600px) {
		ul {
			display: none;
		}
	}

</style>