---

---

<li class="group relative flex-grow cursor-pointer list-none">
	<div class="relative z-10">
		<slot />
	</div>
	<span
		aria-hidden="true"
		class="absolute -inset-2 z-0 rounded-md bg-light bg-opacity-0 transition duration-200 ease-out group-hover:bg-opacity-5"
	></span>
</li>
