---
// Component imports
import { Icon } from 'astro-icon/components'
import Modal from './Modal.astro'
import SidebarProject from './SidebarProject.astro'

// Content Collection Imports
import { getCollection } from 'astro:content'
const projects = await getCollection('projects', ({ data }) => !data.draft)
const sortedProjects = projects.sort(
	(a: { data: { sortOrder: number } }, b: { data: { sortOrder: number } }) =>
		a.data.sortOrder - b.data.sortOrder
)
---

<nav
	class="fixed left-0 right-0 top-0 z-50 flex min-w-80 justify-between gap-4 bg-dark p-page md:sticky md:top-0 md:grid md:h-screen md:grid-cols-1 md:grid-rows-[auto_1fr_auto] md:bg-opacity-0"
>
	<!-- Logo link-->

	<Modal>
		<a
			href="/"
			class="group relative flex flex-grow items-center justify-between gap-1"
			data-navlink
		>
			<div class="md:items-left flex origin-left flex-col">
				<Icon name="emrosas" class="aspect-[10/2] h-full w-32 group-aria-current:md:w-40" />
				<span class="text-[8px] group-aria-current:md:text-[10px]">Web Designer / Developer</span>
			</div>
			<div class="hidden flex-shrink-0 items-center gap-1 group-aria-current:hidden md:flex">
				<span class="text-[10px] sm:text-lg">Back Home</span>
				<Icon name="arrow-back" class="size-3 sm:size-5" />
			</div>
			<span
				aria-hidden="true"
				class="absolute -inset-2 z-0 rounded-md bg-light bg-opacity-0 transition duration-200 ease-out group-hover:bg-opacity-5"
			></span>
		</a>
	</Modal>
	<button id="mobile-menu-button" class="md:hidden"><Icon name="menu" class="size-10" /></button>
	<!-- Mobile Menu -->
	<div
		menu-open
		id="mobile-menu-wrapper"
		class="fixed inset-0 -z-10 hidden flex-col gap-4 bg-dark p-page pt-24 md:contents md:p-0"
	>
		<!--Project Cards-->
		<div
			class="pointer-events-auto flex flex-grow flex-col gap-8 overflow-scroll rounded-md border border-light border-opacity-5 bg-dark-2 px-6 pb-8 transition duration-150 ease-out hover:border-opacity-10"
		>
			<div
				class="sticky top-0 z-20 flex -translate-x-[1px] -translate-y-[1px] items-center gap-2 bg-dark-2 pb-2 pt-8"
			>
				<Icon name="portfolio" class="size-4" />
				<h2 class="">Projects</h2>
			</div>
			{sortedProjects.map((project) => <SidebarProject {...project} />)}
		</div>
		<!-- Contact Information -->
		<Modal mobileBg>
			<div class="flex flex-col gap-4">
				<div class="flex items-center gap-2">
					<Icon name="user" class="size-4" />
					<h2>Contacts</h2>
				</div>
				<menu class="flex flex-wrap gap-4">
					<li class="text-xs">
						<a
							href="mailto:emireles.rosas@gmail.com"
							type="email"
							class="group relative flex items-center gap-[6px]"
							><Icon name="mail" class="size-4" />emireles.rosas@gmail.com
							<span
								aria-hidden="true"
								class="absolute -inset-2 z-0 rounded-md bg-light bg-opacity-0 transition duration-200 ease-out group-hover:bg-opacity-5"
							></span>
						</a>
					</li>
					<li class="text-xs">
						<a
							href="https://www.linkedin.com/in/emrosas/"
							target="_blank"
							class="group relative flex items-center gap-[6px]"
							><Icon name="linkedIn" class="size-4" />Erick Mireles
							<span
								aria-hidden="true"
								class="absolute -inset-2 z-0 rounded-md bg-light bg-opacity-0 transition duration-200 ease-out group-hover:bg-opacity-5"
							></span>
						</a>
					</li>
					<li class="text-xs">
						<a
							href="https://github.com/emrosas"
							target="_blank"
							class="group relative flex items-center gap-[6px]"
							><Icon name="logos/github" class="size-4" />emrosas
							<span
								aria-hidden="true"
								class="absolute -inset-2 z-0 rounded-md bg-light bg-opacity-0 transition duration-200 ease-out group-hover:bg-opacity-5"
							></span>
						</a>
					</li>
				</menu>
			</div>
		</Modal>
	</div>
</nav>

<script>
	document.addEventListener('astro:page-load', () => {
		const navProjects = document.querySelectorAll('[data-navlink]') as NodeListOf<HTMLAnchorElement>

		navProjects.forEach((project) => {
			if (window.location.href === project.href) {
				project.setAttribute('aria-current', 'page')
			}
		})

		const mobileMenuButton = document.getElementById('mobile-menu-button') as HTMLButtonElement
		const mobileMenuWrapper = document.getElementById('mobile-menu-wrapper') as HTMLDivElement
		function toggleMenu(el: HTMLDivElement) {
			el.classList.toggle('hidden')
			el.classList.toggle('flex')
			document.body.classList.toggle('overflow-hidden')
		}
		mobileMenuButton.addEventListener('click', () => {
			toggleMenu(mobileMenuWrapper)
		})
	})
</script>
