---
import ProjectWrapper from './ProjectWrapper.astro'
---

<ProjectWrapper>
	<div class="flex gap-2 items-center">
		<div class="size-20 rounded-sm bg-light bg-opacity-25"></div>
		<div class="flex flex-col gap-1">
			<h3 class="">Project title</h3>
			<p class="text-xs font-light text-light-2">Project description goes here</p>
		</div>
	</div>
</ProjectWrapper>
