---
import { Icon } from 'astro-icon/components'
import Modal from './Modal.astro'
import SidebarProject from './SidebarProject.astro'

import { db, Projects } from 'astro:db'
const projects = await db.select().from(Projects)
---

<nav class="sticky top-0 z-20 grid h-screen grid-rows-[auto_1fr_auto] gap-4 p-page">
	<Modal>
		<a href="/" class="group group relative flex items-center gap-1" data-navlink>
			<div class="flex origin-left scale-75 flex-col group-aria-current:scale-100">
				<Icon name="emrosas" class="aspect-[10/2] h-full w-56" />
				<span>Front End Developer / UX Designer</span>
			</div>
			<div class="flex items-center gap-1 group-aria-current:hidden">
				<span>Back Home</span>
				<Icon name="arrow-back" class="size-5" />
			</div>
			<span
				aria-hidden="true"
				class="absolute -inset-2 z-0 rounded-md bg-light bg-opacity-0 transition duration-200 ease-out group-hover:bg-opacity-5"
			></span>
		</a>
	</Modal>
	<div
		class="flex flex-col gap-8 overflow-scroll rounded-md border border-light border-opacity-5 bg-dark-2 px-6 pb-8 transition duration-150 ease-out hover:border-opacity-10"
	>
		<div
			class="sticky top-0 z-20 flex -translate-x-[1px] -translate-y-[1px] items-center gap-2 bg-dark-2 pb-2 pt-8"
		>
			<Icon name="portfolio" class="size-4" />
			<h2 class="">Projects</h2>
		</div>
		{projects.map((project) => <SidebarProject {...project} />)}
	</div>
	<Modal>
		<div class="flex flex-col gap-4">
			<div class="flex items-center gap-2">
				<Icon name="user" class="size-4" />
				<h2>Contacts</h2>
			</div>
			<menu class="flex flex-wrap gap-4">
				<li class="text-xs">
					<a href="mailto:emireles.rosas@gmail.com" type="email" class="group relative flex items-center gap-[6px]"
						><Icon name="mail" class="size-4" />emireles.rosas@gmail.com
						<span
							aria-hidden="true"
							class="absolute -inset-2 z-0 rounded-md bg-light bg-opacity-0 transition duration-200 ease-out group-hover:bg-opacity-5"
						></span>
					</a>
				</li>
				<li class="text-xs">
					<a
						href="https://www.linkedin.com/in/emrosas/"
						target="_blank"
						class="group relative flex items-center gap-[6px]"
						><Icon name="linkedIn" class="size-4" />Erick Mireles
						<span
							aria-hidden="true"
							class="absolute -inset-2 z-0 rounded-md bg-light bg-opacity-0 transition duration-200 ease-out group-hover:bg-opacity-5"
						></span>
					</a>
				</li>
				<li class="text-xs">
					<a
						href="https://github.com/emrosas"
						target="_blank"
						class="group relative flex items-center gap-[6px]"
						><Icon name="github" class="size-4" />emrosas
						<span
							aria-hidden="true"
							class="absolute -inset-2 z-0 rounded-md bg-light bg-opacity-0 transition duration-200 ease-out group-hover:bg-opacity-5"
						></span>
					</a>
				</li>
			</menu>
		</div>
	</Modal>
</nav>

<script>
	document.addEventListener('astro:page-load', () => {
		const navProjects = document.querySelectorAll('[data-navlink]') as NodeListOf<HTMLAnchorElement>

		navProjects.forEach((project) => {
			if (window.location.href === project.href) {
				project.setAttribute('aria-current', 'page')
			}
		})
	})
</script>
