---

---

<li class="flex items-center gap-4">
	<div class="bg-light size-20 rounded-sm bg-opacity-25"></div>
	<div class="flex flex-col gap-1">
		<h3 class="">Project title</h3>
		<p class="text-xs">Project description goes here</p>
	</div>
</li>
