---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Outfit:wght@300;400;500;600&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<Navbar />
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		/* Fonts */
		--font-mono: 'DM Mono', monospace;
		--font-sans: 'Outfit', sans-serif;
		/* Color Palette */
		--light-1: 240, 100%, 96%;
		--light-2: 240, 8%, 56%;
		--dark-1: 96, 100%, 2%;
		--brand-1: 96, 72%, 36%;
		--brand-2: 96, 24%, 16%;
		/* Spacing Scale */
		--page-padding: 4rem;
	}
	html {
		font-family: system-ui, sans-serif;
		background: hsl(var(--dark-1));
		color: hsl(var(--light-1));
		font-family: var(--font-sans);

	}
	body {
		margin: 0;
	}
	nav, header, section, footer {
		padding-left: var(--page-padding);
		padding-right: var(--page-padding);
	}
	section, footer {
		border-top: 1px solid hsl(var(--brand-2));
	}

	.container {
		padding: 0 2rem;
		border-left: 1px solid hsl(var(--brand-2));
		border-right: 1px solid hsl(var(--brand-2));
		flex-grow: 1;
		position: relative;
	}
	h1 {
		font-size: 3.7rem;
		font-weight: 500;
		line-height: 1.1;
		margin: unset;
	}
	p {
		margin: unset;
		font-size: 1.42rem;
		color: hsl(var(--light-2));
		font-weight: 300;
		line-height: 1.5;
	}
</style>
