---
import { ClientRouter } from 'astro:transitions'
import { SEO } from 'astro-seo'
import Sidebar from '../components/Sidebar.astro'
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props

import '../styles/global.css'
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ClientRouter />
		<SEO
			title={title}
			titleDefault="Erick Mireles | Web Designer & Developer"
			description={description}
			openGraph={{
				basic: {
					title: 'Erick Mireles | Web Designer & Developer',
					type: 'website',
					image: 'https://emrosas.vercel.app/og.png',
					url: 'https://emrosas.vercel.app/'
				}
			}}
		/>
	</head>
	<body class="font-body flex min-h-screen overscroll-none">
		<div class="md:grid md:grid-cols-[1fr_3fr]">
			<Sidebar />
			<main class="z-0 mt-32 flex flex-col md:mt-16">
				<slot />
			</main>
		</div>
		<style is:global>
			@font-face {
				font-family: 'Satoshi-Variable';
				src:
					url('/fonts/Satoshi-Variable.woff2') format('woff2'),
					url('/fonts/Satoshi-Variable.woff') format('woff'),
					url('/fonts/Satoshi-Variable.ttf') format('truetype');
				font-weight: 300 900;
				font-display: swap;
				font-style: normal;
			}
			:root {
				/* Spacing variables */
				--page-main: var(--page-desktop);
				--page-double: calc(var(--page-main) * 2);
				--page-desktop: 1rem;
				--page-tablet: 1.25rem;
				--page-mobile: 1rem;
			}
			.hide-scrollbar::-webkit-scrollbar {
				display: none;
			}
			.hide-scrollbar {
				-ms-overflow-style: none;
				scrollbar-width: none;
			}
		</style>
	</body>
</html>
