---
import { SEO } from 'astro-seo'
import { ViewTransitions } from 'astro:transitions'
import Navbar from '../components/Navbar.astro'
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title={title}
			titleDefault="Erick Mireles | Front End Developer"
			description={description}
			openGraph={{
				basic: {
					title: 'Erick Mireles | Front End Developer',
					type: 'website',
					image: 'https://fantom.netlify.app/nnf-og.png',
					url: 'https://emrosas.github.io/'
				}
			}}
		/>
		<ViewTransitions />
	</head>
	<body
		class="m-0 grid min-h-screen grid-rows-[auto,1fr] overscroll-none bg-dark-1 p-0 font-body text-light-1">
		<Navbar />
		<slot />
		<style>
			@font-face {
				font-family: 'Satoshi-Variable';
				src:
					url('../fonts/Satoshi-Variable.woff2') format('woff2'),
					url('../fonts/Satoshi-Variable.woff') format('woff'),
					url('../fonts/Satoshi-Variable.ttf') format('truetype');
				font-weight: 300 900;
				font-display: swap;
				font-style: normal;
			}
			@font-face {
				font-family: 'Neue-Regrade-Variable';
				src: url('../fonts/Neue-Regrade-Variable.ttf') format('truetype');
				font-weight: 300 800;
				font-display: swap;
				font-style: normal;
			}
			:root {
				/* Spacing variables */
				--page-main: var(--page-desktop);
				--page-desktop: 1.5rem;
				--page-tablet: 1.25rem;
				--page-mobile: 1rem;
			}
			.hide-scrollbar::-webkit-scrollbar {
				display: none;
			}
			.hide-scrollbar {
				-ms-overflow-style: none;
				scrollbar-width: none;
			}
		</style>
	</body>
</html>
